.main {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 30% 70%;

    &__box {
        display: flex;
        flex-direction:row;
        align-items: center;
        margin-left: 50%;
       justify-content: space-around;
    }

    &__img {
        height: 100%;
        width: 100%;
    }
}